CTRL_LAKE/Segreteria/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52029/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerRichieste" />
  <xs:element name="GetNoleggio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoleggioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerRichieste" minOccurs="0" name="GetNoleggioResult" nillable="true" type="q1:Noleggio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>