CTRL_LAKE/Segreteria/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerRichieste" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerRichieste" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Noleggio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Inizio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fine" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Noleggio" nillable="true" type="tns:Noleggio" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>