CTRL_LAKE/ASPServerMVC/Connected Services/ServiceReference1/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52651/Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52651/Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52651/Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFWebService.Model" />
      <xsd:import schemaLocation="http://localhost:52651/Services.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServices_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IServices_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAttrezzatura_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttrezzatura" />
  </wsdl:message>
  <wsdl:message name="IServices_GetAttrezzatura_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttrezzaturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_AggiornaAttrezzatura_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaAttrezzatura" />
  </wsdl:message>
  <wsdl:message name="IServices_AggiornaAttrezzatura_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaAttrezzaturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServices_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DisponibilitaAttrezzatura_InputMessage">
    <wsdl:part name="parameters" element="tns:DisponibilitaAttrezzatura" />
  </wsdl:message>
  <wsdl:message name="IServices_DisponibilitaAttrezzatura_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisponibilitaAttrezzaturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_CreaNoleggio_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaNoleggio" />
  </wsdl:message>
  <wsdl:message name="IServices_CreaNoleggio_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaNoleggioResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_CancellaPrenotazione_InputMessage">
    <wsdl:part name="parameters" element="tns:CancellaPrenotazione" />
  </wsdl:message>
  <wsdl:message name="IServices_CancellaPrenotazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancellaPrenotazioneResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetPrenotazioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrenotazioni" />
  </wsdl:message>
  <wsdl:message name="IServices_GetPrenotazioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrenotazioniResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetLezioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLezioni" />
  </wsdl:message>
  <wsdl:message name="IServices_GetLezioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLezioniResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetListLezioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListLezioni" />
  </wsdl:message>
  <wsdl:message name="IServices_GetListLezioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListLezioniResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DisponibilitaIstruttori_InputMessage">
    <wsdl:part name="parameters" element="tns:DisponibilitaIstruttori" />
  </wsdl:message>
  <wsdl:message name="IServices_DisponibilitaIstruttori_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisponibilitaIstruttoriResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCliente" />
  </wsdl:message>
  <wsdl:message name="IServices_GetCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_CreaLezione_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaLezione" />
  </wsdl:message>
  <wsdl:message name="IServices_CreaLezione_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaLezioneResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetString" />
  </wsdl:message>
  <wsdl:message name="IServices_GetString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/Login" message="tns:IServices_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/LoginResponse" message="tns:IServices_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetUser" message="tns:IServices_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetUserResponse" message="tns:IServices_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttrezzatura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetAttrezzatura" message="tns:IServices_GetAttrezzatura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetAttrezzaturaResponse" message="tns:IServices_GetAttrezzatura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaAttrezzatura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/AggiornaAttrezzatura" message="tns:IServices_AggiornaAttrezzatura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/AggiornaAttrezzaturaResponse" message="tns:IServices_AggiornaAttrezzatura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/Register" message="tns:IServices_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/RegisterResponse" message="tns:IServices_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisponibilitaAttrezzatura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DisponibilitaAttrezzatura" message="tns:IServices_DisponibilitaAttrezzatura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DisponibilitaAttrezzaturaResponse" message="tns:IServices_DisponibilitaAttrezzatura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaNoleggio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/CreaNoleggio" message="tns:IServices_CreaNoleggio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/CreaNoleggioResponse" message="tns:IServices_CreaNoleggio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancellaPrenotazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/CancellaPrenotazione" message="tns:IServices_CancellaPrenotazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/CancellaPrenotazioneResponse" message="tns:IServices_CancellaPrenotazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrenotazioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetPrenotazioni" message="tns:IServices_GetPrenotazioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetPrenotazioniResponse" message="tns:IServices_GetPrenotazioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLezioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetLezioni" message="tns:IServices_GetLezioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetLezioniResponse" message="tns:IServices_GetLezioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListLezioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetListLezioni" message="tns:IServices_GetListLezioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetListLezioniResponse" message="tns:IServices_GetListLezioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisponibilitaIstruttori">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DisponibilitaIstruttori" message="tns:IServices_DisponibilitaIstruttori_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DisponibilitaIstruttoriResponse" message="tns:IServices_DisponibilitaIstruttori_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetCliente" message="tns:IServices_GetCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetClienteResponse" message="tns:IServices_GetCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaLezione">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/CreaLezione" message="tns:IServices_CreaLezione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/CreaLezioneResponse" message="tns:IServices_CreaLezione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DeleteUser" message="tns:IServices_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DeleteUserResponse" message="tns:IServices_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetString" message="tns:IServices_GetString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetStringResponse" message="tns:IServices_GetString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IServices/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttrezzatura">
      <soap:operation soapAction="http://tempuri.org/IServices/GetAttrezzatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaAttrezzatura">
      <soap:operation soapAction="http://tempuri.org/IServices/AggiornaAttrezzatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IServices/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisponibilitaAttrezzatura">
      <soap:operation soapAction="http://tempuri.org/IServices/DisponibilitaAttrezzatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaNoleggio">
      <soap:operation soapAction="http://tempuri.org/IServices/CreaNoleggio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancellaPrenotazione">
      <soap:operation soapAction="http://tempuri.org/IServices/CancellaPrenotazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrenotazioni">
      <soap:operation soapAction="http://tempuri.org/IServices/GetPrenotazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLezioni">
      <soap:operation soapAction="http://tempuri.org/IServices/GetLezioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListLezioni">
      <soap:operation soapAction="http://tempuri.org/IServices/GetListLezioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisponibilitaIstruttori">
      <soap:operation soapAction="http://tempuri.org/IServices/DisponibilitaIstruttori" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCliente">
      <soap:operation soapAction="http://tempuri.org/IServices/GetCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaLezione">
      <soap:operation soapAction="http://tempuri.org/IServices/CreaLezione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IServices/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <soap:operation soapAction="http://tempuri.org/IServices/GetString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost:52651/Services.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>