CTRL_LAKE/ASPServerMVC/Connected Services/ServiceReference1/Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFWebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFWebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credenziali">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credenziali" nillable="true" type="tns:Credenziali" />
  <xs:complexType name="UserAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAccount" nillable="true" type="tns:UserAccount" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfNoleggio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Noleggio" nillable="true" type="tns:Noleggio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoleggio" nillable="true" type="tns:ArrayOfNoleggio" />
  <xs:complexType name="Noleggio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="ElencoDettagli" nillable="true" type="tns:ArrayOfDettaglioNoleggio" />
      <xs:element minOccurs="0" name="Fine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Inizio" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Noleggio" nillable="true" type="tns:Noleggio" />
  <xs:complexType name="ArrayOfDettaglioNoleggio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DettaglioNoleggio" nillable="true" type="tns:DettaglioNoleggio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDettaglioNoleggio" nillable="true" type="tns:ArrayOfDettaglioNoleggio" />
  <xs:complexType name="DettaglioNoleggio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attrezzatura" nillable="true" type="tns:Attrezzatura" />
      <xs:element minOccurs="0" name="Costo" type="xs:double" />
      <xs:element minOccurs="0" name="Fine" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAttrezzatura" type="xs:int" />
      <xs:element minOccurs="0" name="Inizio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Utilizzatori" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DettaglioNoleggio" nillable="true" type="tns:DettaglioNoleggio" />
  <xs:complexType name="Attrezzatura">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAttrezzatura" type="xs:int" />
      <xs:element minOccurs="0" name="Posti" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attrezzatura" nillable="true" type="tns:Attrezzatura" />
</xs:schema>